.root{
-fx-background-color:#BCBEE6;

}
.button{
-fx-background-color:#9999ff;
-fx-font: 15px Optimus;
-fx-text-fill: "white";
-fx-stroke-width: 2;
-fx-font-smoothing-type: lcd;
-fx-background-radius: 6;
}
.label{
-fx-text-fill:"black";
-fx-font: 15px Optimus;
-fx-stroke-width: 2;
-fx-font-smoothing-type: lcd;
}